{% macro render_field(field, class_="") %}
<div class="clearfix {% if field.errors %}error{% endif %}">
  {% if field.label %}
  <label for="{{ field.name }}">{{ field.label.text }}
    {% if field.flags.required %}*{% endif %}:
  </label>
  {% endif %}
  <div class="input">
    {% if field.flags.required %}
      {% set class_ = class_ + " required" %}
    {% endif %}
    {{ field(class_=class_, **kwargs) }}
    {% if field.description %}
    <br/><span class="help-inline">{{ field.description }}</span>
    {% endif %}
    {% for error in field.errors %}
    <br/><span class="help-inline">{{ error|string }}</span>
    {% endfor %}
  </div>
</div>
{% endmacro %}
