{% extends 'base.jinja' %}
{% from '_helpers.jinja' import render_field with context %}

{% block main %}
{% include 'nav.jinja' %}
<div class="row">
    <div class="span12">
        <form id="reset-form" class="form-signin" method="post" action="{{ url_for('nereid.user.reset_account') }}">
            <input class="full email required" id="email" name="email" placeholder="{{ _('Email') }}" type="text" value="">
            <button id="login" class="btn btn-large btn-primary" type="submit">{{ _('Send reset email') }}</button> 
        </form>
    </div>
</div>
{% endblock %}
