{% extends 'base.jinja' %}
{% from '_helpers.jinja' import render_field with context %}

{% block title %}{{ _('Change password') }}{% endblock %}

{% block main %}
{% include 'nav.jinja' %}
<div class="row">
    <div class="span12">
        <form id="change-password-form" class="form-signin" method="post" action="{{ url_for('nereid.user.change_password') }}">
            {{ render_field(change_password_form.old_password, class_="half") }}
            {{ render_field(change_password_form.password, class_="half") }}
            {{ render_field(change_password_form.confirm, class_="half") }}
            <button id="change-password" type="submit" class="btn btn-large btn-primary">{{ _('Change password') }}</button>
        </form>
    </div>
</div>
{% endblock %}
