<div class="navbar navbar-inverse nav">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{ config['TITLE'] }}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">

                </ul>
                <div class="pull-right">
                    <ul class="nav pull-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _("Welcome") }}, {{ request.nereid_user.display_name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if not request.is_guest_user %}
                                <li><a href="{{ url_for('nereid.user.profile') }}"><i class="icon-user"></i> {{ _("My account") }}</a></li>
                                <li><a href="{{ url_for('nereid.website.logout') }}"><i class="icon-off"></i> {{ _("Logout") }}</a></li>
                                {% else %}
                                <li><a href="{{ url_for('nereid.website.login') }}"><i class="icon-user"></i>{{ _('Login') }}</a></li>
                                <li><a href="{{ url_for('nereid.user.registration') }}"><i class="icon-pencil"></i> {{ _('Registration') }}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% if bread_crumbs %}<ul class="breadcrumb">
    {% for crumb in bread_crumbs %}{% if not loop.last %}<li><a href="{{ crumb[0] }}">{{ crumb[1] }}</a> <span class="divider">></span>  </li>
    {% else %}<li class="active">{{ crumb[1] }}</li> {% endif %}{% endfor %}
</ul>{% endif %}

{% with messages = get_flashed_messages() %}{% if messages %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 well">
            <ul class=error>
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </div>
        </div>
</div>
{% endif %}{% endwith %}
