{% extends 'base.jinja' %}
{% from '_helpers.jinja' import render_field with context %}

{% block main %}
{% include 'nav.jinja' %}
<div class="row">
    <div class="span12">
        <form id="reset-form" class="form-signin" method="post" action="{{ url_for('nereid.user.new_password') }}">
            {{ render_field(password_form.password, class_="half") }}
            {{ render_field(password_form.confirm, class_="half") }}
            <button id="login" class="btn btn-large btn-primary" type="submit">{{ _('New password') }}</button> 
        </form>
    </div>
</div>
{% endblock %}
